<div class="container">
  <div class="row">
    <div class="col-sm-6">
    	<h1>Editing Post</h1>
    </div>
   </div>
</div>


<%= render 'form', post: @post %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    	<br>
    	<a class="btn btn-primary" href= '/'>Back</a>
    </div>
   </div>
</div>